@import "tailwindcss";

@theme {
  --color-primary: #5865f2;
  --font-display: "Satoshi", sans-serif;
  /* Otros tokens de diseño */
}

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
